{% extends "base.html" %}
{% block title %}Doctor Signup{% endblock title %}
{% block custom_css %}
<style>

    .error{
        color:red;
    }
</style>
{% endblock custom_css %}

{% block content %}
<div class="row mt-2">
    <div class="col-3 col-md-3  col-lg-3 "></div>
    <div class="col-6 col-md-6 col-lg-6">
        <div class="card shadow">
            <div class="card-header">
                <h4>Doctor Signup Page</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}

                        <div class="col-6">
                    
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}" name={{ field.name }} id="{{ field.name }}" class="form-control">
                                {% if field.errors %}
                                <div class="error">
                                    <p class="" >{{ field.errors }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        
                    </div>
                    <hr>
                    <h3 class="text-center">
                        Address
                    </h3>

                    <div class="row">
                        {% for field in form1 %}
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                <input type="{{ field.field.widget.input_type }}" name={{ field.name }} id="{{ field.name }}" class="form-control">
                                {% if field.errors %}
                                <div class="error">
                                    <p class="" >{{ field.errors }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div><br>
                    <button type="submit" class="btn btn-primary btn-block">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-3 col-md-3  col-lg-3"></div>

</div>

  {% endblock content %}



{% block custom_js %}{% endblock custom_js %}
